:root {
    --color-white: #ffffff;
    --color-wild-sand: #f5f5f5;
    --color-silver-chalice: #cccccc;
    --firm: #34C759;
}

/* fonts */
@font-face {
    font-family: 'Open-sans';
    src: local('OpenSansRegular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Open-sans';
    src: local('OpenSansSemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Open-sans';
    src: local('OpenSansBold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

/* common specification */
html {
    box-sizing: border-box;
}

body {
    font-family: 'Open-sans', sans-serif;
    margin: 0;
    background-color: var(--color-silver-chalice);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    padding-left: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}


.list-group-item.active {
    background-color: #34C759;
}

.navigation {
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.link-primary {
    font-weight: 700;
}


.btn-info {
    margin-left: 15px;
    transition: background-color 0.3s;
}

@media (max-width: 860px) {
    .btn-info {
        margin-left: 0;
        width: 100%;
       
    }

    .navigation {
        gap: 15px;
    }

    .btn-primary {
        font-size: 14px;
    }

    .form-control::placeholder {
        font-size: 14px;
    }
  }

.btn-info.active {
    background-color: aquamarine;
}